# Knowledge Based Filtering

지식 기반 필터링(Knowledge-based Filtering)"은 사용자가 제공한 명시적인 요구 사항을 바탕으로 아이템을 추천하는 시스템입니다. 이 방법은 사용자의 과거 행동이나 명확한 선호도가 부족할 때 유용하며, 사용자가 특정 요구 사항을 입력함으로써 추천을 받게 됩니다.

예를 들어, 영화 추천 시스템에서 사용자가 선호하는 장르, 감독, 배우, 또는 영화의 특정 기능(예: 상영 시간, 연도 등)에 대한 선호도를 입력하면, 시스템은 이 정보를 기반으로 영화를 필터링하고 추천합니다.

지식 기반 필터링의 예제 코드를 작성하기 전에, 우리는 몇 가지 가정을 해야 합니다. 예를 들어, 우리에게는 영화에 대한 정보가 담긴 movies 데이터프레임과 사용자가 요구하는 조건을 충족하는 영화를 추천하는 함수가 필요합니다.

In [1]:
import pandas as pd

# MovieLens 데이터셋 로드
movies = pd.read_csv('data/ml-latest-small/movies.csv')
ratings = pd.read_csv('data/ml-latest-small/ratings.csv')

In [2]:
movies.head(2)

   movieId             title                                       genres
0        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
1        2    Jumanji (1995)                   Adventure|Children|Fantasy

In [3]:
ratings.head(2)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247

In [4]:
# 장르를 기반으로 필터링
# 예) 'Comedy' 장르를 포함하는 영화 필터링하는 방법
filterd_movies = movies['genres'].str.contains('Comedy')

# 필터링된 영화 목록 출력
movies[filterd_movies]

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
6,7,Sabrina (1995),Comedy|Romance
...,...,...,...
9732,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi
9734,193571,Silver Spoon (2014),Comedy|Drama
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [5]:
# 연도를 기반으로 필터링
# 예) 영화 제목에서 '(1995)'를 포함하는 영화 필터링 방법
# 백슬래시(\\)를 사용하여 괄호를 이스케이프 처리
filtered_movies = movies['title'].str.contains('\\(1995\\)')

# 필터링된 영화 목록 출력
movies[filtered_movies]

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
8066,99130,Ice Cream Man (1995),Comedy|Horror
8836,132084,Let It Be Me (1995),(no genres listed)
8931,136297,Mortal Kombat: The Journey Begins (1995),Action|Animation
9453,167772,The Spirit of Christmas (1995),Animation|Comedy
9663,181719,Serving in Silence: The Margarethe Cammermeyer...,(no genres listed)

In [6]:
# 영화 목록 ID 생성
# ratings 데이터프레임에서 'movieId' 열에 있는 고유한 영화 ID 목록 추출
rated_movie_ids = ratings['movieId'].unique()
rated_movie_ids

array([     1,      3,      6, ..., 160836, 163937, 163981])

In [7]:
# rated_movie_ids 목록에 있는 영화 ID를 가진 영화만 선택
filtered_movies = movies[movies['movieId'].isin(rated_movie_ids)]
filtered_movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

### 장르와 연도를 기반으로 영화를 추천하는 함수

In [8]:
def recommend_movies(movies, ratings, preferred_genre=None, year=None):
    """
    사용자의 선호 장르와 연도를 기반으로 영화를 추천하는 함수
    
    Parameters:
    movies (pd.DataFrame): 영화 정보 데이터프레임
    ratings (pd.DataFrame): 평점 정보 데이터프레임
    preferred_genre (str, optional): 선호하는 영화 장르
    year (int, optional): 선호하는 영화 연도
    
    Returns:
    pd.DataFrame: 필터링된 영화 목록 데이터프레임
    """
    # 이는 원본 데이터를 변경하지 않고, 필터링 작업을 수행하기 위해 df 복사
    filtered_movies = movies.copy()

    # 장르를 기반으로 필터링. na=False : 결측치가 있는 데이터를 제외하고 필터링
    if preferred_genre:
        filtered_movies = filtered_movies[filtered_movies['genres'].str.contains(preferred_genre, na=False)]

    # 연도를 기반으로 필터링. na=False : 결측치가 있는 데이터를 제외하고 필터링
    if year:
        year_pattern = f'\\({year}\\)'
        filtered_movies = filtered_movies[filtered_movies['title'].str.contains(year_pattern, regex=True, na=False)]
    
    # 평점 정보를 가진 영화만을 최종적으로 선택
    # ratings 데이터프레임에서 고유한 영화 ID를 추출
    rated_movie_ids = ratings['movieId'].unique()
    # filtered_movies 데이터프레임에서 rated_movie_ids에 포함된 영화 ID만 선택
    filtered_movies = filtered_movies[filtered_movies['movieId'].isin(rated_movie_ids)]
    
    return filtered_movies

In [9]:
# 영화 데이터프레임에서 모든 장르를 추출하여 정렬된 장르 list 생성
# 영화 데이터프레임의 'genres' 열에서 각 장르를 분리하고, 고유한 장르를 집합(set)으로 만든 후 리스트로 변환
genre_list = sorted(list(set([genre for sublist in movies['genres'].str.split("|") for genre in sublist])))

print(genre_list)

['(no genres listed)', 'Action', 'Adventure', 'Animation', 'Children', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'IMAX', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']

In [10]:
# 사용자 입력 받기
genre = input("선호하는 장르를 입력하세요: \n{}\n".format(genre_list))
year = input("\n영화 연도를 입력하세요 (예: 1995): ")

선호하는 장르를 입력하세요:
['(no genres listed)', 'Action', 'Adventure', 'Animation', 'Children', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'IMAX', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
 Action

영화 연도를 입력하세요 (예: 1995):  1995

In [11]:
# year 입력이 숫자인지 확인하고, 숫자라면 int로 변환
if year.isdigit():
    year = int(year)
else:
    year = None

genre, year

('Action', 1995)

In [12]:
# 사용자가 선호하는 장르와 연도를 기반으로 영화 추천 받기
recommended_movies = recommend_movies(movies, ratings, preferred_genre=genre, year=year)

# 추천된 영화 출력
recommended_movies

,movieId,title,genres
5,6,Heat (1995),Action|Crime|Thriller
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller
14,15,Cutthroat Island (1995),Action|Adventure|Romance
19,20,Money Train (1995),Action|Comedy|Crime|Drama|Thriller
22,23,Assassins (1995),Action|Crime|Thriller
38,42,Dead Presidents (1995),Action|Crime|Drama
40,44,Mortal Kombat (1995),Action|Adventure|Fantasy
63,71,Fair Game (1995),Action
68,76,Screamers (1995),Action|Sci-Fi|Thriller
70,78,"Crossing Guard, The (1995)",Action|Crime|Drama|Thriller
80,89,Nick of Time (1995),Action|Thriller
97,110,Braveheart (1995),Action|Drama|War
99,112,Rumble in the Bronx (Hont faan kui) (1995),Action|Adventure|Comedy|Crime
118,145,Bad Boys (1995),Action|Comedy|Crime|Drama|Thriller
124,151,Rob Roy (1995),Action|Drama|Romance|War
126,153,Batman Forever (1995),Action|Adventure|Comedy|Crime
133,160,Congo (1995),Action|Adventure|Mystery|Sci-Fi
136,163,Desperado (1995),Action|Romance|Western
138,165,Die Hard: With a Vengeance (1995),Action|Crime|Thriller
140,168,First Knight (1995),Action|Drama|Romance
142,170,Hackers (1995),Action|Adventure|Crime|Thriller
144,172,Johnny Mnemonic (1995),Action|Sci-Fi|Thriller
145,173,Judge Dredd (1995),Action|Crime|Sci-Fi
153,181,Mighty Morphin Power Rangers: The Movie (1995),Action|Children
156,185,"Net, The (1995)",Action|Crime|Thriller
167,198,Strange Days (1995),Action|Crime|Drama|Mystery|Sci-Fi|Thriller
172,204,Under Siege 2: Dark Territory (1995),Action
176,208,Waterworld (1995),Action|Adventure|Sci-Fi
202,236,French Kiss (1995),Action|Comedy|Romance
215,251,"Hunted, The (1995)",Action
253,292,Outbreak (1995),Action|Drama|Sci-Fi|Thriller
263,303,"Quick and the Dead, The (1995)",Action|Thriller|Western
285,327,Tank Girl (1995),Action|Comedy|Sci-Fi
288,330,Tales from the Hood (1995),Action|Crime|Horror
296,338,Virtuosity (1995),Action|Sci-Fi|Thriller
341,384,Bad Company (1995),Action|Crime|Drama
565,688,Operation Dumbo Drop (1995),Action|Adventure|Comedy|War
876,1170,Best of the Best 3: No Turning Back (1995),Action
2121,2818,Iron Eagle IV (1995),Action|War
3481,4750,3 Ninjas Knuckle Up (1995),Action|Children
4604,6857,Ninja Scroll (Jûbei ninpûchô) (1995),Action|Adventure|Animation|Fantasy
5587,26854,"Darkman II: Return of Durant, The (1995)",Action|Crime|Horror
8931,136297,Mortal Kombat: The Journey Begins (1995),Action|Animation